{
  "name": "custom.datetime",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "com.byIgorFP",
  "artifactName": "",
  "packageVersion": "1.0",
  "codeVersion": "1.0",
  "author": "IgorFP",
  "commands": []
}